@import './variable';

// 전역 초기화 스타일
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  font-family: $font-stack;
  color: #333;
}

a {
  color: $primary-color;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}
