@import "./mixin";
@import "./base";

// 추가 컴포넌트 스타일
.container {
  margin: 0 auto;
  padding: 3rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 960px;
  background: white;
  color: $primary-color;
  border-radius: 8px;

  @include respond-to(mobile) {
    padding: 1rem;
  }
}
